footer{
    padding: 15px;
}
footer ul {
  /* display: flex; */
  /* gap: 10px; */
}
footer ul li {
  list-style-type: none;
}
footer ul li a{
    text-decoration: none;
    color: white;
    font-size: .9rem;
}